@using TimeSheet2.ViewModels.ClockInViewModels
@model ClockInViewModel

@{
    ViewData["Title"] = "ClockIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-content">
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-controller="ClockIn" asp-action="ClockIn">
                <hr>

                <div class="form-group">
                    @if (Model.OnClock)
                    {
                        <h2>You are already clocked in, you need to clock out first.</h2>
                        <input type="submit" name="Submit" value="Clock Out" asp-route-In="@false" class="btn btn-danger" />

                    }
                    else
                    {
                        <h2>You are already clocked out, you need to clock in first.</h2>
                        <input type="submit" name="Submit" value="Clock In" asp-route-In="@true" class="btn btn-primary" />
                    }
                </div>
            </form>
        </div>
    </div>
    <div>
