@model TimeSheet2.ViewModels.AccountViewModels.CreateUserViewModel

@{
    ViewData["Title"] = "Create User";
}

<h2>@ViewData["Title"]</h2>
<a asp-action="Index" class="btn btn-primary">Back to Manage</a>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="CreateUser">
            <h4 style="color: red">@ViewData["Successful"]</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourlyWage"></label>
                <input asp-for="HourlyWage" class="form-control" />
                <span asp-validation-for="HourlyWage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role"></label>
                @Html.DropDownListFor(m => m.Role, (SelectList)ViewBag.Roles, "Pick a Role", new { @class = "form-control" })
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger">Create</button>
        </form>
    </div>
</div>


